<section class="section-conten padding-y">
    <div class="card mx-auto" style="max-width: 380px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Zaloguj się do firmy:</h4>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input
                        formControlName="email"
                        name="username" class="form-control" placeholder="Email" type="text">
                </div>

                <div class="form-group">
                    <input
                        formControlName="password"
                        name="password" class="form-control" placeholder="Password" type="password">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Zaloguj</button>
                </div>
            </form>
        </div>
    </div>
</section>
