<article class="card card-product-list">
    <div class="card-body">
        <div class="row">
            <aside class="col-sm-5">
                <a href="#" class="img-wrap">
                    <img src="{{ dish.imageUrl }}"/></a>
            </aside>

            <!-- col.// -->
            <div class="col-sm-7">
                <a href="#" class="title mt-2 h5">{{ dish.name }}</a>
                <div class="d-flex mb-3">
                    <div class="price-wrap mr-4">
                        <span class="price h5">${{ dish.price }}</span>
                    </div>
                </div>

                <ul *ngFor="let ingredient of dish.ingredients"
                    class="list-bullet">
                    <li>{{ ingredient.name }}</li>
                </ul>

                <div class="form-row">
                    <div class="form-group col-md flex-grow-0">
                        <div class="input-group input-spinner">
                            <div class="input-group-prepend">
                                <button
                                    (click)="increment()"
                                    class="btn btn-light" type="button" id="button-plus">+</button>
                            </div>

                            <input type="text" class="form-control" value="{{ count }}" (change)="onChange($event)" />

                            <div class="input-group-append">
                                <button
                                    (click)="decrement()"
                                    class="btn btn-light" type="button" id="button-minus">−</button>
                            </div>
                        </div>
                        <!-- input-spinner.// -->
                    </div>
                    <!-- col.// -->
                    <div class="form-group col-md">
                        <button
                            [disabled]="!openedRestaurant || !authenticated"
                            (click)="order()"
                            type="button" class="btn btn-primary">
                            <span class="text">Dodaj</span>
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- col.// -->
        </div>
        <!-- row.// -->
    </div>
    <!-- card-body .// -->
</article>
