<section class="container mt-2">
    <tin-alert
        *ngIf="(formStatus$ | async).customError as error"
        [message]="error.message"
        [type]="AlertType.DANGER"
    ></tin-alert>

    <div class="card mx-auto" style="max-width: 380px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Zaloguj się</h4>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp;  Sign in with Facebook</a>
                <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp;  Sign in with Google</a>

                <div class="form-group">
                    <input
                        formControlName="email"
                        name="email" class="form-control" placeholder="Email" type="email">
                </div> <!-- commons-group// -->

                <div class="form-group">
                    <input
                        formControlName="password"
                        name="password" class="form-control" placeholder="Password" type="password">
                </div> <!-- commons-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Zaloguj </button>
                </div> <!-- commons-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <div class="mx-auto" style="max-width: 580px;">
        <p class="text-center mt-4">Nie masz konta? <a [routerLink]="['/register']">Zarejestruj się</a></p>
        <br>

        <hr/>
        <p class="text-center mt-4">Jeżeli jesteś pracownikiem to kliknij <a [routerLink]="['/createEmployee-login']">tutaj</a> aby się zalogować.</p>
        <br>
    </div>
</section>
