<section class="container mt-2">
    <tin-alert
        *ngIf="(formStatus$ | async).customError as error"
        [message]="error.message"
        [type]="AlertType.DANGER"
    ></tin-alert>

    <div class="card mx-auto" style="max-width: 380px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Zaloguj się</h4>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <a href="#" class="btn btn-facebook btn-block mb-2">
                    <i class="fab fa-facebook-f"></i>
                    Sign in with Facebook
                </a>

                <a href="#" class="btn btn-google btn-block mb-4">
                    <i class="fab fa-google"></i>
                    Sign in with Google
                </a>

                <div class="form-group">
                    <input
                        formControlName="email"
                        name="email"
                        class="form-control"
                        placeholder="Email"
                        type="email"
                    >
                </div>

                <div class="form-group">
                    <input
                        formControlName="password"
                        name="password"
                        class="form-control"
                        placeholder="Password"
                        type="password"
                    >
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mx-auto" style="max-width: 580px;">
        <p class="text-center mt-4">Nie masz konta? <a [routerLink]="['/register/owner']">Zarejestruj się</a></p>
        <br>
    </div>
</section>
