<ng-container
    *ngIf="(employees$ | async).length > 0; else empty"
>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Typ</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let employee of (employees$ | async); let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.type }}</td>
                <td><a [routerLink]="[employee.id, 'edit']">Edit</a></td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #empty>
    <tin-alert
        [type]="AlertType.PRIMARY"
        [message]="'W restauracji nie ma zarejestrowanych pracowników.'"
    ></tin-alert>
</ng-template>
